body * {
	box-sizing: border-box;
}

.txt_css {
	font-size: 20pt;
	text-align:	center;
	margin-top: 30%;
}
.button_css {
	text-align:	center;
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background: #4676d7;
	color: #fff;
	padding: 8px 16px;
	font-size: 20px;
	cursor: pointer;
	
}

.button_css:hover {
  background: #1d49aa;
  box-shadow:0 0 400px 15px blue;
}

#sin_x_value {
	font-size: 20pt;
	text-align:	center;
	margin-top: 10px;
}

#x_value {
	text-align:	center;
	margin-top: 10px;
	width: 250px;
	height: 40px;
	border-width : 1;
	border-radius: 10px;
	color: #000;
	background: #ffffff;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 15pt;
	
}